nav.navbar-background {
    background-color: #BE3144;
}
.nav-style {
    color: #FFF !important;
    font-size: larger;
}
ul li {
    margin-right: 20px;
} 
.nav-style:hover {
    background-color: #45567d;;
}
.bg-about {
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
.adjust-p {
    font-size: 60px;
    color: #BE3144;
}
.bg-work {
    background-color: #BE3144;;
}
.list-link {
    color: #333 !important;
    font-size: larger;
    text-align: center;
}
.list-link:hover {
    background-color: #45567d;
    color: #fff !important;
    border-radius: 5px;
    font-size: xx-large;
}
.bg-contact {
    background: #45567d;
}

